resource "oci_core_instance" "vm_instance" {
  compartment_id      = "{{ compartment_id }}"
  availability_domain = data.oci_identity_availability_domains.ads.availability_domains[0].name
  display_name        = "terraform-vm"
  shape               = "{{ vm_shape }}"

  shape_config {
    ocpus         = 2
    memory_in_gbs = 16
  }

  source_details {
    source_type = "image"
    source_id   = "{{ vm_image_id }}"
  }

  create_vnic_details {
    subnet_id        = "{{ subnet_id }}"
    assign_public_ip = true
  }

  metadata = {
    ssh_authorized_keys = file("~/.ssh/id_rsa.pub")
  }
}

data "oci_identity_availability_domains" "ads" {
  compartment_id = "{{ compartment_id }}"
}

output "vm_public_ip" {
  value = oci_core_instance.vm_instance.public_ip
}
